
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>10.總結Vue數據監測</title>
    <style>
    </style>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 準備好一個容器 -->
    <div id="root">
        <h1>學生信息</h1>
        <button @click="student.age++">年齡+1歲</button><br>
        <button @click="addSex">添加性別屬性，默認值: 男</button><br>
        <button @click="student.sex = '未知' ">修改性別</button><br>
        <button @click="addFriend">在列表首位添加一個朋友</button><br>
        <button @click="updateFirstFriendName">修改第一個朋友的名字為: 張三</button>
        <button>添加一個愛好</button><br>
        <button>修改第一個愛好為: 開車</button><br>

        <h2>姓名: {{student.name}}</h2>
        <h2>年齡: {{student.age}}</h2>
        <h2 v-if="student.sex">性別: {{student.sex}}</h2>
        <h2>愛好</h2>
        <ul>
            <li v-for="(h,index) in student.hobby" :key="index">
                {{h}}
            </li>
        </ul>

        <h2>朋友們</h2>
        <ul>
            <li v-for="(f,index) in student.friends" :key="index">
                {{f.name}}--{{f.age}}
            </li>
        </ul>

    </div>
</body>

<script>
    Vue.config.productionTip = false //阻止 vue 在啟動時生成生產提示。

    const vm = new Vue({
        el: '#root',
        data: {
            student: {
                name: 'tom',
                age: 29,
                hobby:['兜風','喝酒','唱歌'],
                friends: [
                    { name: 'jerry', age: 35 },
                    { name: 'tony', age: 36 }
                ]
            }
        },
        methods: {
            addSex(){
                // Vue.set(this.student,'sex','男')
                this.$set(this.student,'sex','男')
            },
            addFriend(){
                this.student.friends.unshift({name: 'jack',age: '70'})
            },
            updateFirstFriendName(){
                this.student.friends[0].name = '張三'
            }
        }
    })

</script>

</html>