<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>4.列表排序</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 準備好一個容器 -->
    <div id="root">
        <!-- 遍厲數組 -->
        <h2>人員列表</h2>
        <input type="text" placeholder="請輸入名字" v-model="keyWord">
        <button @click="sortType = 2">年齡升序</button>
        <button @click="sortType = 1">年齡降序</button>
        <button @click="sortType = 0">原順序</button>
        <ul>
            <li v-for="(p,index) in filPerons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
                <input type="text">
            </li>
        </ul>

    </div>
</body>

<script>
    Vue.config.productionTip = false //阻止 vue 在啟動時生成生產提示。

    new Vue({
        el: '#root',
        data: {
            // keyWord: ''  (雙向綁定空字符串)
            keyWord: '',
            sortType:0, //0原順序 1降序 2升序
            persons:[
                { id: '001', name: '馬冬梅', age: 30, sex: '女' },
                { id: '002', name: '周冬雨', age: 31, sex: '女' },
                { id: '003', name: '周杰倫', age: 21, sex: '男' },
                { id: '004', name: '溫兆倫', age: 22, sex: '男' }
            ]
        },
        computed:{
            filPerons(){
                // 邏輯分析：const arr = this.persons.filter (新的一個列表 = 這個)
                const arr = this.persons.filter((p) => {
                    return p.name.indexOf(this.keyWord) !== -1
                })
                // 判斷一下是否需要排序
                if(this.sortType){
                    arr.sort((p1,p2)=>{
                        return this.sortType === 1 ? p2.age-p1.age : p1.age-p2.age
                    })
                }
                return arr
            }
        }
    })
</script>

</html>